.boton {
  width: 50%;
  align-self: center;
  color: rgb(171, 18, 115) !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #DB7093;
  border: 2px solid;
  border-color: rgb(171, 18, 115);
  position: relative;
  border-radius: 20px;
}

.boton:hover {
  cursor: pointer;
  color: rgb(171, 18, 115) !important;
  box-shadow: 0 4px 16px rgb(90, 9, 60);
  transition: all 0.2s ease;
}

.desactivado {
  width: 50%;
  align-self: center;
  color: white !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: red;
  position: relative;
  border-radius: 20px;
  pointer-events: none;
  border: 2px solid;
}